.keyboard-wrapper {
  font-family: "Mochiy Pop P One", sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
}
.hint-area {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}
.keyboard-keys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.keyboard-keys-button {
  width: 3.9rem;
  margin: 0.1rem;
  font-family: "Mochiy Pop P One", sans-serif;
  background: $pink-light;
  padding: 0.1rem 0.9rem;
  display: inline-grid;
  place-items: center;
  font-size: 2rem;
  color: $dark-color;
  border-radius: 8px;
  border: 2px solid $pink-dark;
  position: relative;
  transform-style: preserve-3d;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent 5px,
        darken($pink, 2%) 5px,
        darken($pink, 2%) 10px
      ),
      darken($pink-light, 3%);
    border: 2px solid $pink-dark;
    position: absolute;
    border-radius: 8px;
    transform: translate3d(0, 0.7rem, -2rem);
    box-shadow: 0px 15px 4px -2px rgba($pink, 0.25);
  }
  &:active,
  &:hover {
    transform: translate(0, 0.5rem);
    background: darken($pink-light, 3%);
    &::before {
      transform: translate3d(0, 0.2rem, -2rem);
      background: repeating-linear-gradient(
          to right,
          transparent,
          transparent 5px,
          darken($pink, 2%) 5px,
          darken($pink, 2%) 10px
        ),
        darken($pink-light, 6%);
    }
  }
}
.keyboard-keys-button-disabled {
  width: 3.9rem;
  margin: 0.1rem;
  font-family: "Mochiy Pop P One", sans-serif;
  background: darken($grey-light, 6%);
  padding: 0.1rem 0.9rem;
  display: inline-grid;
  place-items: center;
  font-size: 2rem;
  color: $dark-color;
  border-radius: 8px;
  border: 2px solid $grey-dark;
  position: relative;
  transform-style: preserve-3d;
  transform: translate(0, 0.5rem);

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    transform: translate3d(0, 0.2rem, -2rem);
    background: repeating-linear-gradient(
        to right,
        transparent,
        transparent 5px,
        darken($grey, 2%) 5px,
        darken($grey, 2%) 10px
      ),
      darken($grey-light, 6%);
    border: 2px solid $grey-dark;
    position: absolute;
    border-radius: 8px;
  }
}
.keyboard-wrapper {
  width: 100%;
}
